
/* Checkbox
--------------------------------------*/

.karma-field.checkboxes ul {
  margin: 2px 0;
}
.karma-field.checkboxes ul li,
.karma-field.checkbox {
  display: flex;
  align-items: flex-end;
}
.karma-field.checkboxes ul li label,
.karma-field.checkbox label {
  font-size: inherit;
  font-weight: inherit;
}
.karma-field .karma-field-checkbox input {
  margin: 0;
}
.karma-field .checkbox-container {
  display: flex;
}
.karma-field .checkbox-container label {
  margin: 0 0.4em;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.08em;
  user-select: none;
}


.karma-field-table .table input[type=checkbox] {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  justify-content: center;
  border: none;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}
.karma-field-table .table input[type=checkbox]:focus {
  background-color: white;
}
.karma-field-table .table input[type=checkbox]:checked::before {
  display: block;
  float: none;
}
.karma-fields input[type=checkbox].selected {
  background-color: white;
}
.karma-fields input[type=checkbox]:focus {
  background-color: white;
  border-color: #c3c4c7;
  box-shadow: none;
  outline: none;
}

.karma-field-frame.karma-field-checkbox {
  grid-template-columns: auto auto auto 1fr;
  grid-column-gap: 5px;
}
.karma-field-frame.karma-field-checkbox label {
  /* grid-area: 1 / 2 / 2 / 3; */
}
.karma-field-frame.karma-field-checkbox input {
  /* grid-row: 2; */
}
/* .karma-field-frame.karma-field-checkbox .karma-field-spinner {
  grid-area: 1 / 3 / 2 / 4;
  margin: 0;
} */
