
.karma-field-date.selected input {
  background-color: #ffffff;
}

.karma-field-date {
  display: flex;
  flex-direction: column;
}


.karma-field-date .date-popup-container {
	position: relative;
	z-index: 100;
  top: 100%;
}
.karma-field-date .calendar {
	position: absolute;
	bottom: 2px;
	z-index: 100;
	width: 100%;
  min-width: 196px;
  max-width: 280px;
	user-select: none;

  box-shadow: 0 0 8px rgb(0 0 0 / 30%);
  background: white;
}
.karma-field-date .popup .calendar {

  /* padding-bottom: 10px; */
}

.karma-field-date .date-popup-container.open-down .calendar {
	top: 100%;
	bottom: auto;
}
.karma-field-date .date-popup-container.open-left .calendar {
	right: 0;
}

/* .karma-field-date .popup-header {
	position: absolute;
	width: 100%;
	padding: 20px 20px;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
	height: 70px;
} */
/* .karma-field-date .popup-header h1 {
	font-size: 18px;
	margin: 5px 0;
} */
/* .karma-field-date .popup-body {
	position: absolute;
	position: absolute;
	width: 100%;
	top: 70px;
	bottom: 70px;
} */
/* .karma-field-date .popup-footer {
	position: absolute;
	width: 100%;
	padding: 20px 20px;
	box-sizing: border-box;
	border-top: 1px solid #ddd;
	height: 70px;
	bottom: 0;
} */
/* .karma-field-date .popup-footer .button-primary {
	float: right;
} */

/* calendar */
.karma-field-date .calendar-nav {
	display: flex;
  height: 28px;
	/* width: 100%; */
	/* table-layout: fixed; */
}
.karma-field-date .calendar-nav div {
	/* display: table-cell; */
	/* text-align: center; */

	/* vertical-align: middle; */
  /* padding: 2.5% 0; */

}
.karma-field-date .calendar-nav li.calendar-arrow {
  /* width: 20%; */
  /* cursor: pointer;
  display: flex; */
  align-items: stretch;
  justify-content: stretch;
}
.karma-field-date .calendar-nav .current-month {
	/* width: 60%;
  display: flex;
  align-items: center;
  justify-content: center; */
  flex-grow: 1;

  /* font-weight: bolder;
  font-size: 0.875em;
  line-height: 1.08em; */
}
.karma-field-date .calendar-body {
	display: flex;
  flex-direction: column;
	/* width: 100%; */
	/* table-layout: fixed; */
}
.karma-field-date ul {
	display: flex;
  margin: 0;
  height: 28px;
}
.karma-field-date ul li {
	display: flex;
  justify-content: center;
  align-items: center;
	width: 14.2857%; /* 1/7 */
	/* text-align: center; */
	/* vertical-align: middle; */
	/* height: 32px; */

	/* padding: 2.5% 0; */
  margin: 0;
}
.karma-field-date ul li a {
	display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
	/* width: 14.2857%; */
	/* text-align: center; */
	/* vertical-align: middle; */
	/* height: 32px; */

	/* padding: 2.5% 0; */
  /* margin: 0; */
}
.karma-field-date ul.calendar-days-title li {
  font-weight: bolder;
  font-size: 0.875em;
  line-height: 1.08em;
}


.karma-field-date ul.calendar-days-content {
  cursor: pointer;
}
.karma-field-date ul.calendar-days-content li {
  justify-content: stretch;
  align-items: stretch;
}


.karma-field-date ul li.offset {
	cursor: default;
}
.karma-field-date ul li.offset a {
	visibility: hidden;
}
.karma-field-date .calendar-arrow:hover,
.karma-field-date ul li:hover,
.karma-field-date ul li.today {
	/* background-color: white; */
}
.karma-field-date ul li.today a {
	text-decoration: underline;
}
.karma-field-date ul li:active a,
.karma-field-date ul li.active a {
	/* background-color: #0085ba;
	color: white; */
  color: white;
  background-color: #2271b1;
}
.karma-field-date ul li:not(.active).today,
.karma-field-date ul li:not(.active):hover {
	/* background-color: rgba(0,0,0,.04); */
}
/* .karma-field-date ul li.current {
	padding: 0;
	border: 2px solid black;
} */
