
/* Dropdown
--------------------------------------*/

.karma-fields select.karma-field {
  border-color: #484848;
  max-width: 100%;
  font-size: 1em;
  min-height: 2.25em;
}
.karma-fields select.karma-field:focus {
  box-shadow: none;
  background-color: white;
}

/* Table Dropdown
--------------------------------------*/

.karma-field-table select {
  background-color: transparent;
  height: auto;
  box-shadow: none;
  max-width: none;
}

.karma-field-table .table select.karma-field {
  border: none;
  margin: 0;
  border-radius: 0;
}




.karma-fields select + .karma-field-spinner {
  justify-self: end;
  grid-row: 2;
  grid-column: 2;
}
.karma-fields select.editing + .karma-field-spinner::after {
  content: "...";
  margin: 0 0.75em;
}



/* .karma-fields .table select {
  margin: 0;
  border: none;
  width: 100%;
  max-width: none;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 21px;
}
.karma-fields .table select:focus {
  outline: none;
  box-shadow: none;
} */
