

.karma-fields-table {
  flex-grow: 1;
  display: flex;
  margin-right: 20px;
}



/* Text
--------------------------------------*/
.disabled {
  color: #c3c4c7 !important;
}



/* Fields
--------------------------------------*/

.karma-fields {
  margin-top: 10px;
}



/* Tables
--------------------------------------*/

.karma-field-table {
  margin-right: 0;
  display: flex;
  flex-direction: column;
  /* color: #535c63; */
  width: 100%;
}

.karma-field-table .table a {
  /* color: #535c63; */
  /* background-color: #f1f1f1; */
  display: flex;
  align-items: center;
  /* padding: 0 5px; */
  cursor: pointer;
  text-decoration: none;
}
.karma-field-table .table>a {
  background-color: #f1f1f1;
}
.karma-field-table .table a:focus {
  box-shadow: none;
}

.karma-field-table .table .text {
  padding: 0 0.75em;
  /* background-color: #f0f0f1; */
  font-size: 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: column; (why???) */
  /* justify-content: center; */
}

.karma-field-table .table figure {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}
.karma-field-table .table figure img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.karma-field-table .table .text:focus {
  /* background-color: white; */
}


/* .karma-field-table .table .karma-field.selected {
  background-color: white;
} */



.karma-field-table .table>:not(:focus) {
  /* user-select: none; /* -> needed  for firefox */
}
.karma-field-table .table input:not(:focus),
.karma-field-table .table textarea:not(:focus),
.karma-field-table .table select:not(:focus) {
  /* user-select: none; /* -> needed  for firefox */
}

.karma-field-table .table>:not(:focus-within) ::selection {
  /* background-color: transparent; */
}
.karma-field-table .table ::selection {
  background-color: #e7e7e7;

  /* background-color: #484848;
  color: #e7e7e7; */
}

.karma-field-table .table :focus-within  {
  /* background-color: red; */
}

/* .karma-field-table .table>:focus {
      outline: 1px dashed #868686;
} */


/* Tables Header
--------------------------------------*/
.karma-field-table .table-header {
  /* margin: 1em 0; */
}
/* .karma-field-table.grid .filter-node-children {
  display: flex;
  margin: 0 -5px;
} */
/* .karma-field-table .filter-node {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.karma-field-table .filter-item {
  margin: 0 5px;
} */



/* Grid Filter
--------------------------------------*/

/* .karma-filter-children {
  display: flex;
  margin: 0 -5px;
}
.karma-filter {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */



/* Grid Filter Status
--------------------------------------*/

.karma-field-table .filter-node-poststatus {
  width: 100%;
}
.karma-field-table .filter-node-poststatus ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 0; */
  align-items: flex-end;
  min-height: 30px;
}
.karma-field-table .filter-node-poststatus ul li {
  margin: 10px 0;
  padding: 0;

}
.karma-field-table .filter-node-poststatus ul li a {
  display: block;
  padding: 5px 20px;
  border-color: #aab3bb;
  border-style: solid;
  border-width: 0px 0px 1px 0;
  /* margin: 0 0; */
  color: #525a61;
  cursor: pointer;

}
.karma-field-table .filter-node-poststatus ul li a.active {
  border-width: 1px 1px 0;
  /* padding: 5px 20px !important; */
    color: #10212f;
}
.karma-field-table .filter-node-poststatus ul li a:hover {
  /* background-color: #0073aa;
  border-color: #0073aa;
  color: white; */
  /* padding: 6px 19px 4px 21px; */
  color: #10212f;
}
/* .karma-field-table.grid ul.karma-filter.post-status li.placeholder {
  flex-grow: 1;
  border-bottom: 1px solid #aab3bb;
  text-align: right;
  padding-bottom: 9px;
} */
.karma-field-table .filter-node-poststatus ul::after {
  content: "";
  flex-grow: 1;
  border-bottom: 1px solid #aab3bb;
  margin: 10px 0;
}
.karma-field-table .filter-node-poststatus ul li .filter-count {
  min-width: 0;
  color: inherit;
  margin-left: 0.4em;
  font-size: 0.75em;
  /* text-align: right; */
  vertical-align: baseline;
}
.karma-field-table .filter-node-poststatus ul li .filter-count::before {
  content: "(";
}
.karma-field-table .filter-node-poststatus ul li .filter-count::after {
  content: ")";
}



/* Grid Filter Dropdown
--------------------------------------*/

/* .table-header label {
  font-size: 0.875em;
  font-weight: bolder;
  margin-bottom: 0;
  position: relative;
  display: block;
}
.table-header select.dropdown {
  min-width: 175px;
  border-radius: 0;
  background-color: transparent;
  margin: 0;
} */



/* Grid Search
--------------------------------------*/

.karma-fields .table-header .search-form {
  width: 100%;
  max-width: 400px;
  position: relative;
}
.karma-fields .table-header input.search {
  border-radius: 0;
  background-color: #f1f1f1;
  /* background-color: #edf2f5; */
  font-size: inherit;
  width: 100%;
  margin: 0;
  position: relative;
  /* z-index: 3; */
}
.karma-fields .table-header input.search:focus {
  background-color: white;
}
.karma-fields .table-header .search-form ul {
  background-color: #f1f1f1;
  margin: 0;
  text-align: left;
  position: absolute;
  padding: 0;
  border: 1px solid #7e8993;
  border-top: none;
  box-sizing: border-box;
  box-shadow: 0 0 10px #0000002e;
  z-index: 2;
}
.karma-fields .table-header .search-form ul li {
  padding: 5px;
  cursor: default;
  margin: 0;
}
.karma-fields .table-header .search-form ul li:hover,
.karma-fields .table-header .search-form ul li.active {
  background-color: white;
  color: black;
}

/* Table
--------------------------------------*/


/* .karma-fields .table-body {
  padding-top: 1em;
  flex-grow: 1;
  width: 100%;
  margin-bottom: 70px;
} */

/* .karma-fields table {
  border-collapse: separate;
  border-spacing: 0;
  border-style: solid;
  border-color: #7e8993;
  border-width: 0;
  border-left-width: 1px;
  border-top-width: 1px;


  table-layout: fixed;
  width: 100%;
}



.karma-fields table thead {
  background-color: #d4d8db;
}
.karma-fields table th,
.karma-fields table td {
  border-style: solid;
  border-color: #7e8993;


  border-width: 0;
  border-right-width: 1px;
  border-bottom-width: 1px;
  text-align: left;
  padding: 1px;
}
.karma-fields table th.main,
.karma-fields table td.main {
  width: 100%;
}


.karma-fields table td.selected {
  background-color: white;
} */




/* Table Header
--------------------------------------*/

/* .karma-fields table th {
  user-select: none;
}
.karma-fields table th.table-header-index {
  padding: 0 5px;
}
.karma-fields table th .header-cell {
  display: flex;
  justify-content: space-between;
}
.karma-fields table th .header-cell a {
  display: flex;
  padding: 8px 5px;
  color: #535c63;
}
.karma-fields table th .header-cell a.header-cell-title {
  padding-right: 0;
}
.karma-fields table th a.header-cell-order {
  width: 20px;
  align-items: center;
  cursor: pointer;
}
.karma-fields table th .header-cell-order .order-icon {
  width: 20px;
  height: 20px;

  background-image: url(../dashicons/sort.svg);
  background-repeat: no-repeat;
  mix-blend-mode: overlay;
}
.karma-fields table th .header-cell-order:hover .order-icon {
  mix-blend-mode: normal;
}
.karma-fields table th .header-cell-order.asc .order-icon {
  background-image: url(../dashicons/arrow-up.svg);
  mix-blend-mode: normal;
}
.karma-fields table th .header-cell-order.desc .order-icon {
  background-image: url(../dashicons/arrow-down.svg);
  mix-blend-mode: normal;
}

.karma-fields table.grid tr td:first-child,
.karma-fields table.grid tr th:first-child {
  text-align:center;
} */

/* Grid
--------------------------------------*/

/* .karma-fields table.grid td {
  position: relative;
  box-sizing: border-box;
}
.karma-fields table.grid td .karma-field {
  display: flex;
}
.karma-fields table.grid td .karma-field .karma-field-content {
  display: flex;
  flex-grow: 1;
}
.karma-fields table.grid tr th {
  background-color: #d4d8db;
}


.karma-fields table.grid td {
}
.karma-fields table.grid td.test {
} */



/* Grid Text Input
--------------------------------------*/




/* .karma-fields table.grid td input.text {
  margin: 0;
  padding: 8px 5px;
  border: 0;
  width: 100%;
  box-sizing: border-box;

  outline: none;

  line-height: inherit;
  border-radius: 0;

  color: #535c63;

}
.karma-fields table.grid td input.text:focus {
  box-shadow: none;
}


.karma-fields table td input,
.karma-fields table td textarea,
.karma-fields table td button {
  background-color: transparent;
}

.karma-fields table td textarea {
  padding: 5px 5px;
}

.karma-fields table.grid td.modified input {
  color: black;
} */



/* Grid Textarea
--------------------------------------*/

/* .karma-fields table.grid td textarea {
  resize: none;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  outline: none;
  margin: 0;
  color: #525a61;
}
.karma-fields table.grid td textarea:focus {
  box-shadow: none;
}
.karma-fields table.grid td.modified textarea {
  color: black;
} */




/* Grid Index
--------------------------------------*/

/* .karma-fields table.grid .row-index {
  padding: 8px 5px;
  user-select: none;
} */



/* Grid Dropdown
--------------------------------------*/

/* .karma-fields table.grid select {
  margin: 0;
  border: none;
  width: 100%;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 21px;
}
.karma-fields table.grid select:focus {
  outline: none;
  box-shadow: none;
} */

/* Grid Cell Button
--------------------------------------*/

/* .karma-fields table.grid td button {

  border: none;
  width: 20px;
  height: 20px;
  padding: 10px;
  box-sizing: content-box;
  background-color: transparent;
  cursor: pointer;


}
.karma-fields table.grid td button:focus {
  box-shadow: none;
  outline: none;
}
.karma-fields table.grid td button svg {
  display: block;

}
 */



.on-off svg path {
  fill: #535c63;
}
td.modified .on-off svg path {
  fill: black;
}


/* Field controls
--------------------------------------*/

/* .field-controls {
  display: flex;
  align-items: center;
  position: sticky;
  top: 32px;
  z-index: 2;
  margin-bottom: -1px;
}
.field-controls-group {
  display: inline-block;
  background-color: white;
  border: 1px solid #7e8993;
  border-right-width: 0;
}
.field-controls-group:last-child {
  border-right-width: 1px;
}
.field-controls button {
  padding: 0;
  border: none;
  width: 20px;
  height: 20px;
  padding: 10px;
  box-sizing: content-box;
  background-color: transparent;
  cursor: pointer;
}
.field-controls button:focus {
  outline-style: dotted;
  outline-color: #7d8993;
  outline-width: 2px;
  outline-offset: -1px;
}
.field-controls button:hover {
  outline: 2px solid #7d8993;
  outline-offset: -1px;
}
.field-controls button:disabled {
  outline: none;
  opacity: 0.2;
  cursor: default;
}

.field-controls button:hover svg {
}
 */

/* Field controls in Grid (for files)
--------------------------------------*/

/* .grid .field-controls {
  position: absolute;
  top: auto;
  bottom: 1px;
  right: 1px;
}
.grid .field-controls button:disabled {
  display: none;
} */




/* Table Footer
--------------------------------------*/


/* Table Footer Button
--------------------------------------*/


.karma-field-frame.karma-field-button {
  /* min-width: 20px; */
  min-width: 2em;
  flex-shrink: 0;
}


button.karma-button {
  /* color: #0173aa; */
  color: #1d2327;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  min-width: 2.5em;
  /* padding: 0.67em 10px; */
  padding: 0;
  /* min-width: 35px; */
  /* border: none; */
  background-color: transparent;
  box-shadow: none;
  text-shadow: none;
  /* border-width: 1px; */
  border-radius: 3px;
  /* font-size: 0.875em; */
  font-size: 1em;
  line-height: 1.08em;
  position: relative;
  /* border: 1px solid #0173aa; */
  border: 1px solid #1d2327;

  cursor: pointer;



  /* box-shadow: inset 1px 3px 8px #f1f1f126; */
}
button.karma-button .text {
  padding: 0 0.75em;
}
button.karma-button .dashicons {
  padding: 0 0.625em;
  line-height: 1em;
  font-size: 1.2em;
  height: auto;
  width: auto;
  transition: none;
}
button.karma-button.primary {
  /* background-color: #0173aa; */
  background-color: #1d2327;
  /* border-color: #0173aa; */
  border-color: #1d2327;
  color: #f1f1f1;
  box-shadow: none;
}
button.karma-button.active,
button.karma-button:hover,
button.karma-button:focus {
  box-shadow: none;
  outline: none;
}
button.karma-button:hover:not(.loading,.editing),
button.karma-button.active:not(.loading,.editing),
button.karma-button:active:not(.loading,.editing) {
  background-color: white;
}

button.karma-button.active {
  /* color: #8c8f94;
  border-color: #8c8f94; */
}
button.karma-button.active {
  /* color: #8c8f94;
  border-color: #8c8f94; */
}


button.karma-button:active {
  /* border-color: transparent; */

  border: 1px solid #bbbcc0;
  color: #bbbcc0;
}



button.karma-button.primary:hover:not(.loading,.editing),
button.karma-button.primary.active:not(.loading,.editing),
button.karma-button.primary:active:not(.loading,.editing),
button.karma-button.primary:focus:not(.loading,.editing) {
  background-color: white;
  color: #1d2327;
  box-shadow: none;
}




button.karma-button[disabled] {
  color: #c3c4c7 !important;
  background-color: transparent !important;
  /* border: none !important; */
  border: 1px solid #c3c4c7 !important;
  box-shadow: none !important;
  text-shadow: none !important;
  cursor: default;
}
.primary[disabled] {
  background-color: #c3c4c7 !important;
  color: #f1f1f1 !important;
  border: 1px solid #c3c4c7 !important;
}


button.karma-button.loading::after,
button.karma-button.editing::after {
  content: "...";
  grid-area: 1 / 1;
}


button.karma-button.loading,
button.karma-button.primary.loading,
button.karma-button.editing,
button.karma-button.primary.editing {
  color: #c3c4c7;
  border: 1px solid #c3c4c7 ;
}

button.karma-button .button-content,
button.karma-button span {
  grid-area: 1 / 1;
}
button.karma-button.loading .button-content,
button.karma-button.loading span,
button.karma-button.editing span {
  visibility: hidden;
}
button.karma-button .karma-field-spinner {
  grid-area: 1 / 1;
  margin: 0;
}
button.karma-button.loading .karma-field-spinner::after {
  content: "...";
}

.karma-icon {
  display: flex;
  align-items: center;
  justify-content: center;

}


.karma-icon svg {
  width: 1.75em;
  height: 1.75em;
}
.karma-icon svg path {
  fill: rgb(114, 119, 124);
}




/* button.karma-button .dashicons {
  font-size: 0.875em;
  height: auto;
  line-height: 1.2343em;
} */




/* .karma-fields .table-footer button:focus .karma-icon svg path {
  fill: #f1f1f1;
}
.karma-fields .table-footer button:hover .karma-icon svg path {
  fill: #535c63;
}
.karma-fields .table-footer button.primary:enabled .karma-icon svg path {
  fill: #535c63;
}
.karma-fields .table-footer button.active .karma-icon svg path {
  fill: #535c63;
}
.karma-fields .table-footer button.primary:enabled:hover .karma-icon svg path {
  fill: #f1f1f1;
} */

button.karma-button > .karma-field-spinner {
  /* grid-area: button; */
  justify-self: center;
  /* border-color: #0173aa transparent #0173aa #0173aa; */
}
button.karma-button.primary > .karma-field-spinner {
  /* border-color: #f1f1f1 transparent #f1f1f1 #f1f1f1; */
}

.karma-field-table .grid button.karma-button {
  height: auto;
  border: none;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
}



/* Upload button
----------------------------------- */

.karma-fields .karma-upload {

}
.karma-fields .karma-upload label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  min-width: 2.5em;
  border-radius: 3px;
  font-size: 1em;
  line-height: 1.08em;
  border: 1px solid #1d2327;
  cursor: pointer;
  font-weight: normal;
  padding: 0 0.75em;
  color: #1d2327;
  margin: 0;
}
.karma-fields .karma-upload label:hover {
  background-color: white;
}
.karma-fields .karma-upload label:active {
  border: 1px solid #bbbcc0;
  color: #bbbcc0;
}




/*
.karma-fields .table-footer button[disabled] svg path {
  fill: #5f6469;
}
.karma-fields .table-footer button[disabled]:hover svg path {
  fill: #5f6469;
}
 */


/*
button.karma-button[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: 131%;
  white-space: nowrap;
  left: 50%;
  background-color: black;
  color: white;
  padding: 0.4em 1em;
  transform: translateX(-50%);
  border-radius: 0.3em;
}
button.karma-button[title]:hover::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid black;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}
 */





/* Table Footer Delete Button
--------------------------------------*/

/* .karma-fields .table-footer .table-control button.delete {
  color: #dc3232;
  border-color: #dc3232;
  background-color: #f3f5f6;
}
.karma-fields .table-footer .table-control button.delete:hover {

  color: #f3f5f6;
  background-color: #25282d;
  border-color: #f3f5f6;
} */



/* Table Footer Options
--------------------------------------*/
/*
.table-options-container {

  color: #f1f1f1;
  background-color: #25282d;
  text-align: left;
  border-bottom: 1px solid #7d8993;
  display: flex;
  padding: 0 10px;
}
.table-options-body {
  padding: 5px 10px;
  flex-grow: 1;
}
.table-options-footer {
  padding: 0 5px;
  display: flex;
  align-items: center;
}

.table-options-container .item-number {
  display: flex;
  align-items: baseline;
}
.table-options-container .item-number input {
  margin-left: 10px;
} */



/* Table Footer Options Option Buttons Field
--------------------------------------*/
/*
.option-buttons {
  display: flex;
  border: 1px solid #f3f5f6;
  border-radius: 3px;
}
.option-buttons .option-button {
  padding: 4px 8px;
  color: #f3f5f6;
  font-weight: bold;
  cursor: pointer;

}
.option-buttons .option-button.active {
  background-color: #f3f5f6;
  color: #25282d;
}
.option-buttons .option-button:not(:last-child) {
  border-right: 1px solid #f3f5f6;
}

 */




/* Table Spinner
--------------------------------------*/
/*
.karma-field-spinner {
  display: none;
  flex-shrink: 0;
}
.loading .karma-field-spinner,
.loading:not(.load-inside) + .karma-field-spinner {
  width: 0.5em;
  height: 0.5em;
  margin: 0 0.75em;
  vertical-align: middle;
  border-color: #c3c4c7 transparent #c3c4c7 #c3c4c7;
  border-color: #555 transparent #555 #555;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  animation: spinner 750ms linear infinite;
}

.disabled .loading + .karma-field-spinner,
.loading:disabled + .karma-field-spinner,
.loading:read-only + .karma-field-spinner {
  border-color: #c3c4c7 transparent #c3c4c7 #c3c4c7;
}



@keyframes spinner {
  100% {
    transform: rotate(1turn);
  }
}
 */






/* Fields
--------------------------------------*/

.karma-fields label {
  font-weight: bold;
  /* font-size: 0.875em; */
  font-size: 1em;
  line-height: 1.08em;
  vertical-align: baseline;
  margin: 0 0 0.33em;
  display: block;
  /* color: #535c63; */
}



/* Text-input Field
--------------------------------------*/

.karma-fields textarea {
  box-shadow: none;
  border-radius: 0;
  box-sizing: border-box;
}
.karma-fields textarea:focus {
  /* outline-color: #7d8993;
  outline-offset: -2px; */
  outline: none;
  /* border-color: #2c3338; */
}



/* Textarea Field
--------------------------------------*/

.karma-fields textarea {
  padding: 5px;
  width: 100%;
}





/* File Field
--------------------------------------*/

/* .karma-field label {
  font-weight: bold;
  vertical-align: baseline;
  margin: 0;
  display: block;
} */
.karma-field .file-input-thumbs {
  margin-top: 1px;
  display: flex;
  flex-wrap: wrap;
}
.karma-field-file,
.karma-field-files {
  /* display: inline-block; */
}


/* File Field in Grid
--------------------------------------*/

.grid .karma-field-file,
.grid .karma-field-files {
  display: block;
  /* margin: -1px; */
}
.grid .file-input-thumbs {
  height: 80px;
  pointer-events: none;
  display: flex;
}
.grid .selected .file-input-thumbs {
  pointer-events: auto;
}
.grid .karma-field-file img,
.grid .karma-field-files img {
  display: block;
  height: 100%;
  width: auto;
}



/* Dropdown Field
--------------------------------------*/

/* .karma-field select:focus {
  color: inherit;
  border-color: inherit;
  box-shadow: none;
} */



/* Checkbox Field
--------------------------------------*/

/* .karma-field .checkbox-container label.description {
  display: inline-block;

} */



/* TinyMCE Field
--------------------------------------*/

.karma-field.tinymce .editor-content {
  padding: 1px 10px;
  box-sizing: border-box;
  border: 1px solid #7d8993;

  min-height: 150px;
}
.karma-field.tinymce .editor-content.mce-edit-focus {
  outline: 2px solid #7d8993;
  outline-offset: -2px;
}



/* Filterlink Field
--------------------------------------*/

.karma-fields .filterlink {
  padding: 5px 10px;
  font-weight: bold;
  user-select: none;
}
.karma-fields .filterlink a.active {
  text-decoration: underline;
  cursor: pointer;
  color: #0073aa;
}
.karma-fields .filterlink a.active:hover {
  text-decoration: underline;
  color: #0073aa;
}

/* Filterlink Field
--------------------------------------*/

.karma-fields .submit {
  /* align-self: center;
  padding: 0; */
}





/* Group
--------------------------------------*/

/* .karma-field-group {
  flex-grow: 1;
}

.karma-field-group>:not(.karma-field-group) {
  margin: 0 0 1em;
} */
.karma-field-group label {
  display: block;
}


/* .karma-field-group-container.display-block>* {
  margin-bottom: 1em;
}
.karma-field-group-container.display-block>*>label {
  display: block;
} */


/* Group Display Flex
--------------------------------------*/

/* .karma-field-group-container.display-flex {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 -5px -1em;
}
.karma-field-group-container.display-flex>* {
  padding: 0 5px 1em;
  width: 100%;
  min-width: 480px;
  box-sizing: border-box;
} */

.karma-field-container {
  /* margin: -10px; */
  /* flex-grow: 1; */ /* removed for Actinic Arrays */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1px;
}
.karma-field-container.display-flex {
  flex-direction: row;
}
.karma-field-container.display-block {
  flex-wrap: nowrap;
}

.karma-field-group {
  /* flex-grow: 1; */
  min-width: 260px;
  flex: 1 1 0;

  cursor: default; /* when containing array is selected and cursor set to grab */
}
.karma-field-frame {
  /* padding: 10px; */
  box-sizing: border-box;

  /* align-items: center; */

  /* display: grid; */
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 1fr auto; */
  /* grid-template-rows: min-content min-content; */

  /* flex-basis: 320px; */
  /* flex: 1 1 0; */

}

.array .karma-field-frame {
  /* grid-template-rows: auto 1fr; */
  /* align-items: stretch; */
}
.karma-field-frame.hidden {
  display: none !important;
}
.karma-field-frame label {
  /* grid-area: 1 / 1; */
}
.karma-field-frame .karma-field {
  /* grid-area: 2 / 1 / 3 / 3; */

  /* grid-column: 1 / span 2; */
  /* grid-row: 2; */
}
.karma-field-frame .karma-field-spinner {
  /* grid-area: 1 / 2 / 2 / 3; */

  /* for dropdown:  */
  /* grid-area: 2 / 2 / 3 / 3; */
  /* grid-area: 2 / 2; */
  /* align-self: center; */
  /* justify-self: center; */
}

/* submit:  */
.karma-field-frame.karma-field-submit .karma-field-spinner {
  /* grid-area: 2 / 2; */
}




.karma-field-frame.karma-field-group.final {
  /* padding: 10px; */
}
.karma-field-frame.final {
  /* background-color: #f1f1f1; */
  /* padding: 0.8333em; */
}
.karma-field-frame.final .final {
  /* background-color: transparent; */
  /* padding: 0; */
}
/* .karma-field-frame.karma-field-group .karma-field-container { */
.karma-field-container {
  /* gap: 0.7em; */
}

.karma-field-frame.initial {
  /* padding: 1em; */
}

/* -> embed fields in post edit page: */
.karma-fields-post .karma-field-frame.final {
  /* background-color: transparent; */
}


/* .karma-field-separator {
  flex-grow: 0;
  padding: 0;
  border-bottom: 1px solid #c3c4c7;
  margin: 1em 0;
  width: 100%;
} */

.karma-field-container.disabled label {
  color: #c3c4c7;
}


/* @media (min-width: 600px) {
  .karma-field-separator {
    border-bottom: none;
    border-right: 1px solid #c3c4c7;
    margin: -0.75em 0;
    width: auto;
  }
} */


.karma-field-container.display-block>.karma-field-frame {
  flex-grow: 0;
}



/* Separator
--------------------------------------*/
.karma-field-separator {
  flex-grow: 1;
}




/* Group Display Table
--------------------------------------*/

/*
.karma-field-container.display-table {
  margin: -10px -10px;
  display: table;
  border-spacing: 10px;
}
.karma-field-container.display-table>.karma-field-frame {

  display: table-row;
}
.karma-field-container.display-table>.karma-field-frame>* {
  display: table-cell;
}

.karma-field-container.display-table>.karma-field-frame>label {
  padding: 5px 10px 5px 0;
}
 */
