
/* Input
--------------------------------------*/


.karma-fields input.text-input,
.karma-fields textarea {
  flex-grow: 1;
  box-shadow: none;
  box-sizing: border-box;
  border-color: #484848;


  border-radius: 2px;

  min-height: 2.25em; /* override default 30px */
  max-width: none;

  font-size: 1em;

  background-color: transparent;
}
.karma-fields input.text-input.modified,
.karma-fields textarea.modified {
  color: black;
}
.karma-fields input.text-input:focus,
.karma-fields textarea:focus {
  outline: none;
  /* background-color: white; */
  flex-grow: 1;
  box-shadow: none;
  box-sizing: border-box;

  border-color: #2271b1;
}

.karma-fields  input[type=number] {
  height: auto;
}

.karma-field-input {
  /* display: flex;
  align-items: center;
  flex-wrap: wrap; */
}
.karma-field-input label {
  /* width: 100%; */
}
.karma-field-input input {
  margin: 0;
}

.karma-fields input[type=number]::-webkit-inner-spin-button {
  appearance: none;
}
.karma-fields input:read-only {
  color: #a0a0a0;
}
.karma-field-input-datalist {
  display: flex;
}

/* Grid + Table Input
--------------------------------------*/

.karma-fields .karma-field-input input.text-input,
.karma-fields .karma-field-input textarea {
  flex-grow: 0;
}



/* Table Input
--------------------------------------*/

.table input,
.table textarea {
  background-color: #f0f0f1;
}
.table .selected input,
.table .selected textarea {
  background-color: white;
}

.karma-fields .table input.text-input,
.karma-fields .table textarea {
  border: none;
  margin: 0;
  border-radius: 0;
  min-width: 120px;
  width: 100%;
  min-height: 40px;
  box-shadow: none;

  /* bug firefox: */
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;

/* user-select: none;
-webkit-user-select: none;
-ms-user-select: none; */
}
.karma-fields .table textarea {
  line-height: 1.1em;
  min-height: 54px;
}
.karma-fields .table input.text-input.date {
  /* min-width: 196px;  */
  /* for calendar popup */
}





/* Datalist
--------------------------------------*/
.karma-field-input-datalist {
  display: flex;
  flex-grow: 1;
}



.karma-fields .loading,
.karma-fields .editing
/* .karma-field-input input.loading,
.karma-field-textarea textarea.loading,
.karma-field-dropdown select.loading,
.karma-field-dropdown select.editing,
button.karma-button.loading,
.karma-fields-navigation .karma-field-table .table-header .total-items.loading,
.karma-fields-navigation .karma-field-table .table-header .table-pagination.loading,

.karma-field.karma-file .image-frame.loading,
.karma-field.karma-files .gallery.loading,
.karma-field-table.loading .karma-field-frame.karma-modal-body,
.karma-fields-navigation .karma-field-table .table-view .karma-modal .karma-modal-header button.loading,
.karma-field-table.loading .table-body  */
{
  /* background: repeating-linear-gradient(60deg, white 0px, white 50px, #f1f1f1 50px, #f1f1f1 100px);
  background-size: 200% 100%;
  animation: slide 10s infinite linear; */

  background: repeating-linear-gradient(45deg, #ececec 0px, #ececec 25%, #f1f1f1 25%, #f1f1f1 50%);

  background-size: 100px 100px;
  animation: slide 1s infinite linear;
}
/* .karma-fields .loading,
.karma-fields .editing {
  background: repeating-linear-gradient(45deg, #d9d9d9 0px, #d9d9d9 25%, #e1e1e1 25%, #e1e1e1 50%);
} */


@keyframes slide {
	100% {
		background-position-x: -100px;
	}
}
