
/* Input
--------------------------------------*/


.karma-fields input.text-input,
.karma-fields textarea {
  /* flex-grow: 1; */ /* removed because in an array cell (flex-direction column) it got vertically stretched */
  box-shadow: none;
  box-sizing: border-box;
  border-color: #484848;


  border-radius: 0;

  min-height: 2.5em;
  max-width: none;
  font-size: 1em;
  padding: 0 0.75em;

  background-color: transparent;
  /* background-color: white; */
}
.karma-fields textarea {
  padding: 0.75em 0.75em;
}
.karma-fields .modified input.text-input:not(:focus),
.karma-fields .modified textarea:not(:focus) {
  /* color: #0c73aa; */
  color: black;
  /* background-color: #0000000d; */

  /* background-image: repeating-linear-gradient(60deg, transparent 0 2.5em, white 2.5em 5em); */
}
.karma-fields input.text-input:focus,
.karma-fields textarea:focus {
  outline: none;
  background-color: white;

  flex-grow: 1;
  box-shadow: none;
  box-sizing: border-box;

  /* border-color: #2271b1; */
}
.karma-fields input.text-input:disabled,
.karma-fields textarea:disabled {
  border-color: #c3c4c7;
}


.karma-fields  input[type=number] {
  height: auto;
}

.karma-field-input {
  /* display: flex;
  align-items: center;
  flex-wrap: wrap; */
}
.karma-field-input label {
  /* width: 100%; */
}
.karma-field-input input {
  margin: 0;
}

.karma-fields input[type=number]::-webkit-inner-spin-button {
  appearance: none;
}
.karma-fields input:read-only {
  color: #a0a0a0;
}
.karma-field-input-datalist {
  display: flex;
}

/* Grid + Table Input
--------------------------------------*/

.karma-fields .karma-field-input input.text-input,
.karma-fields .karma-field-input textarea {
  flex-grow: 0;
}



/* Table Input
--------------------------------------*/

.table input,
.table textarea {
  /* background-color: #f0f0f1; */
}
.table .selected input,
.table .selected textarea {
  /* background-color: white; */
}

.karma-fields .table input.text-input,
.karma-fields .table textarea {
  border: none;
  margin: 0;
  border-radius: 0;
  min-width: 120px;
  width: 100%;
  min-height: 40px;
  box-shadow: none;

  color: inherit;

  /* bug firefox: */
  /* user-drag: none;
  -webkit-user-drag: none; */
  /* -moz-user-select: none; */

/* user-select: none;
-webkit-user-select: none;
-ms-user-select: none; */
}
.karma-fields .table textarea {
  line-height: 1.1em;
  min-height: 54px;
}
.karma-fields .table input.text-input.date {
  /* min-width: 196px;  */
  /* for calendar popup */
}





/* Datalist
--------------------------------------*/
.karma-field-input-datalist {
  display: flex;
  flex-grow: 1;
}



.karma-fields .loading,
.karma-fields .editing
/* .karma-field-input input.loading,
.karma-field-textarea textarea.loading,
.karma-field-dropdown select.loading,
.karma-field-dropdown select.editing,
button.karma-button.loading,
.karma-fields-navigation .karma-field-table .table-header .total-items.loading,
.karma-fields-navigation .karma-field-table .table-header .table-pagination.loading,

.karma-field.karma-file .image-frame.loading,
.karma-field.karma-files .gallery.loading,
.karma-field-table.loading .karma-field-frame.karma-modal-body,
.karma-fields-navigation .karma-field-table .table-view .karma-modal .karma-modal-header button.loading,
.karma-field-table.loading .table-body  */
{

  /* background: repeating-linear-gradient(45deg, #ececec 0px, #ececec 25%, #f1f1f1 25%, #f1f1f1 50%);
  background-size: 100px 100px;
  animation: slide 1s infinite linear; */
  /* background: #f1f1f1 repeating-linear-gradient(45deg, #f1f1f1 0px, #f1f1f1 25%, #c3c4c721 25%, #c3c4c721 50%); */

  background-color: transparent !important;
  background-image: repeating-linear-gradient(60deg, transparent 0 25%, #0000000a 25% 50%);

  background-size: 10em 17.4em;
  animation: slide 4s infinite linear;
  color: #e8e8e8 !important;
  border-color: #c3c4c7 !important;
}

@keyframes slide {
	100% {
		background-position-x: -10em;
	}
}
