


/* WP Layout
--------------------------------------*/

/* #wpbody-content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 0px);

  padding-bottom: 0;
  z-index: 1;
  position: relative;
} */


#wpwrap {
  display: flex;
}
#adminmenumain {
  background-color: #23282d;
}
#adminmenuback {
  display: none;
}
#adminmenuwrap {
  float: none !important;
  flex-shrink: 0;
  position: static !important;

}
#adminmenu {
  margin: 0;
}
#wpcontent {
  margin: 0 0 40px 20px;
  display: flex;
  /* overflow: auto; */
  height: auto;
  padding: 0;
  flex-grow: 1;
}
#wpbody {
  display: flex;
  flex-grow: 1;
}
#wpbody-content {
  display: flex;
  flex-direction: column;
  padding: 0;
  float: none;
  width: auto;
  flex-grow: 1;
}




.karma-fields {
  margin: 10px 20px 0 0;
    /* margin-right: 20px; */
}

/* Buttons
--------------------------------------*/

/*
.karma-fields button {
  cursor: pointer;
  background-color: #f6f7f7;
  border: 1px solid #2271b1;
  padding: 6px 12px;
  color: #2271b1;
  margin: 0;
  border-radius: 2px;
}
.karma-fields button:hover {
  color: #24282d;
  border-color: #24282d;
}
.karma-fields button:disabled,
.karma-fields button:hover:disabled {
  color: #a7aaad;
  border-color: #a7aaad;
  cursor: default;
}
.karma-fields button.delete {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #d63638;
  text-decoration: underline;
} */


.karma-fields button .karma-icon {
  /* width: 20px;
  height: 20px; */
}


/* .karma-fields button .karma-icon path {
  fill: #32373c;
}
.karma-fields button:hover .karma-icon path {
  fill: #7e8993;
} */


/* Item
--------------------------------------*/

.karma-field-item  {
  display: flex;
  align-items: center;

  /* display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr; */
}
/* .karma-field-item label {
  grid-area: 1 / 1 / 1 / 1;
}
.karma-field-item .karma-field {
  grid-area: 2 / 1 / 3 / 3;
}
.karma-field-item .karma-field-spinner {
  grid-area: 1 / 2 / 2 / 3;
} */



/* File
--------------------------------------*/

.karma-file {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  vertical-align: middle;
  margin: -0px;

  /* max-width: 260px; */
}
.karma-file.loading {
  flex-grow: 0.5;
  min-height: 150px;
}
.karma-file.loading .image-frame,
.karma-file.loading .field-control {
  display: none;
}
.karma-file .image-frame {
  border: 1px solid #c3c4c7;
  /* background-color: #f6f7f7; */
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  cursor: pointer;
  margin: 0px 10px 0 0;
}
.karma-file .image-frame .image-container {
  display: flex;
}
.karma-file .image-frame .image-container.type-image {
  background-color: #c3c4c7;
}
.karma-file .image-frame.type-image {
  /* border: none;
  background-color: transparent; */
}
.karma-file .image-frame img {
  /* display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border: none; */
}
.karma-file .field-control  {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.karma-field-table .karma-file .image-frame {
  border: none;
  border-radius: 0;
  width: 80px;
  height: 80px;
  margin: 0;
}
.karma-field-table .karma-file .field-control  {
  display: none;
}

.karma-field-table .karma-file.selected a {
  background-color: white;
}


.karma-field-frame.karma-field-file {
  grid-template-columns: 150px 1fr;
}
.karma-field-frame.karma-field-file .karma-field-spinner,
.karma-field-frame.karma-field-files .karma-field-spinner {
  grid-area: 2 / 1 / 3 / 2;
}





/* Files
--------------------------------------*/

.karma-files {
  /* flex-grow: 1;
  display: flex;
  flex-direction: column; */
  justify-content: flex-end;
}
.karma-files.loading {
  /* flex-grow: 0.5;
  height: 150px; */
}
.karma-files .gallery {
  display: flex;
  width: 100%;
  /* flex-wrap: wrap; */
  border: 1px solid #c3c4c7;
  cursor: pointer;
}
.karma-files.loading .gallery .images-container,
.karma-files.loading .add-container {
  visibility: hidden;
}
.karma-files .gallery .images-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 150px;
}
.karma-files .gallery .images-container .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 0;
  min-width: 15px;
  max-width: 150px;
  flex-grow: 1;
  overflow: hidden;
}
.karma-files .gallery .images-container .image-container img {
  display: block;
}
.karma-files .gallery .add-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.karma-files.loading .gallery .add-container .add {
  /* display: none; */
}
.karma-files .field-control {
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
}


/* .karma-fields .field-file .file-thumb {
  display: flex;
  align-items: flex-end;
}
.karma-fields .field-file .file-thumb img {
  object-fit: cover;
  object-position: center;
  width: 150px;
  height: 150px;
  display: block;
  cursor: pointer;
}
.karma-fields .field-file .file-thumb button {
  padding: 0 10px;
}
.karma-fields .field-file .file-thumb button:hover {
  text-decoration: underline;
}
.karma-fields .field-file .file-thumb button:focus {
  outline: none;
}
.karma-fields .field-file .file-thumb button.insert,
.karma-fields .field-file .file-thumb .wait {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
} */



/* Table
--------------------------------------*/

.karma-fields .table {
  /* border-style: solid;
  border-color: #7e8993;
  border-width: 1px; */
  /* border-left-width: 1px;
  border-top-width: 1px; */

  display: grid;
  grid-gap: 1px;
  margin: 0 0 32px;
  background-color: #c3c4c7;
  border: 1px solid #c3c4c7;

  /* background-color: #f1f1f1; */
  /* grid-template-columns: 40px auto 1fr; */
}

.karma-fields .table .th,
.karma-fields .table .td {
  box-sizing: border-box;
  /* border-style: solid;
  border-color: #7e8993;
  border-width: 0;
  border-right-width: 1px;
  border-bottom-width: 1px; */
  text-align: left;
  padding: 0;
  color: #535c63;

  display: flex;
  /* outline: 1px solid #7e8993; */
}
.karma-fields .table .flying {
  position: relative;
  z-index: 99999;
}
.karma-fields .table .th {
  /* background-color: #f6f7f7; */
  background-color: #f0f0f1;
  font-weight: bold;
  font-size: 0.875em;
  line-height: 1.2em;
  padding: 10px 5px;
  user-select: none;
  justify-content: space-between;
  align-items: center;
}
.karma-fields .table .th.table-index {
  justify-content: flex-end;
}
.karma-fields .table .td {
  background-color: #f1f1f1;
}
.karma-fields .table .td.selected {
  background-color: white; /* #efebea; */
}
.karma-fields .table .td.modified {
  color: black;
}
.karma-fields .table .td > div {
  display: flex;
  width: 100%;
}



/* Table Header
--------------------------------------*/

.karma-fields .table .th a {
  color: inherit;
  padding: 0 5px;
}
.karma-fields .table .th a:first-child {
  padding-left: 0;
}
.karma-fields .table .th a:last-child {
  padding-right: 0;
}
.karma-fields .table .th a.header-cell-order {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url(../dashicons/sort.svg);
  background-repeat: no-repeat;
  /* mix-blend-mode: overlay; */
  opacity: 0.15;
}
.karma-fields .table .th a.header-cell-order:hover {
  /* mix-blend-mode: normal; */
  opacity: 0.5;
}
.karma-fields .table .th a.header-cell-order.asc {
  background-image: url(../dashicons/arrow-up.svg);
  opacity: 0.5;
}
.karma-fields .table .th a.header-cell-order.desc {
  background-image: url(../dashicons/arrow-down.svg);
  opacity: 0.5;
}
.karma-fields .loading .table .th a.header-cell-order,
.karma-fields .table .th a.header-cell-order.loading {
  background-image: none;
  opacity: 0.5;
}



/* Grid Text Input
--------------------------------------*/

.karma-fields .table .td input.text,
.karma-fields .table .td input.date,
.karma-fields .table .td textarea {
  margin: 0;
  padding: 5px 5px;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border-radius: 0;
  color: inherit;
  height: 100%;
}
.karma-fields .table .td input.text:focus,
.karma-fields .table .td input.date:focus {
  box-shadow: none;
}


.karma-fields .table .td input,
.karma-fields .table .td textarea,
.karma-fields .table .td button {
  background-color: transparent; /* #efebea; */
}




/* Grid Cell Button
--------------------------------------*/

.karma-fields .table .td button {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: content-box;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.karma-fields .table .td button:focus {
  box-shadow: none;
  outline: none;
}
.karma-fields .table .td button svg {
  display: block;
}
.karma-fields .table .td button .karma-icon {
  width: 20px;
}
.on-off svg path {
  fill: #535c63;
}
.td.modified .on-off svg path {
  fill: black;
}


/* Grid Cell Files
--------------------------------------*/

.karma-fields .table .td .field-file {
  flex-wrap: nowrap;
  margin: 0;
}
.karma-fields .table .td .field-file .field-control button.edit {
  display: none;
}
.karma-fields .table .td .field-file .image-frame {
  border: none;
  width: 75px;
  height: 75px;
  cursor: pointer;
  margin: 0;
}





/* PPP Selector
--------------------------------------*/

.ppp-selector {
  display: flex;
  flex-direction: column-reverse;
}
.ppp-selector-options {
  position: relative;
  display: none;
}
.ppp-selector:focus-within .ppp-selector-options {

/* .ppp-selector button:focus + .ppp-selector-options { */
  display: block;
}
.ppp-selector-options ul {
  margin: 0;
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: #f1f1f1;
  /* border-radius: 3px; */
  border: 1px solid #c3c4c7;

}
.ppp-selector-options ul li {
  margin: 0;
  border-bottom: 1px solid #c3c4c7;
}
.ppp-selector-options ul li:last-child {
  border-bottom: none;
}
.ppp-selector-options ul li label {
  /* white-space: nowrap; */
  padding: 5px 12px;
  /* border-bottom: 1px solid #c3c4c7; */
}
.ppp-selector-options ul li button {
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
}
.ppp-selector-options ul li button:hover {
  border: none;
  background-color: white;
}
.ppp-selector-options ul li button:focus {
  border: none;
}
