.image-box {
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
}
.image-box img {
	margin-right: 10px;
}
input.full-width,
textarea.full-width {
	width: 100%;
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0;
}
.fields-group .fields-item {
	margin-bottom: 10px;
}
.fields-group.display-inline,
.fields-group.display-flex {
	display: flex;
	margin-left: -10px;
	margin-right: -10px;
}
.fields-group.display-inline .fields-item,
.fields-group.display-flex .fields-item {
	margin: 0 10px;
}
.fields-group.display-flex .fields-item {
	flex-grow: 1;
}
ul.karma-field-checkboxes {
	margin-top: 0;
}
