
/* Modal
--------------------------------------*/

.karma-fields .karma-modal {
  /* position: fixed;
  background-color: #f1f1f1;
  right: 0;
  left: 0;
  top: 0;
  bottom: 46px;
  z-index: 9;
  overflow: auto;

  display: flex;
  flex-direction: column; */
}

/* .karma-fields .karma-modal .karma-modal-header {
  border-bottom: 1px solid #c3c4c7;
  display: flex;
}
.karma-fields .karma-modal .karma-modal-header h2 {
  padding: 0 20px;
  flex-grow: 1;
}
.karma-fields .karma-modal .karma-modal-header button {
  appearance: none;
  border: none;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #c3c4c7;
  cursor: pointer;
}
.karma-fields .karma-modal .karma-modal-header button:hover {
  background-color: white;
}

.karma-fields .karma-modal .karma-modal-body {
  padding: 1.5em 20px;
  display: flex;
}
 */

/*
@media (min-width: 601px) {
  .karma-fields .karma-modal {
    top: 46px;
  }
}
@media (min-width: 783px) {
  .karma-fields .karma-modal {
    left: 36px;
    top: 32px;
  }
}
@media (min-width: 961px) {
  .karma-fields .karma-modal {
    left: 160px;
  }
} */
