

.karma-fields * {
  box-sizing: border-box;
}
.karma-fields .hidden {
  display: none !important;
}
.karma-fields .popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  /* gap: 1px; */

  overflow: hidden;
}
.karma-fields .popup-content {
  flex-grow: 1;
  display: flex;
  min-width: 0;

  background-color: #f1f1f1;
}
.karma-fields .navigation {
  /* display: flex; */
  flex-shrink: 0;
  width: 10em;
  padding: 0.75em;
}
.karma-fields .navigation ul li {
  /* padding: 0.7em 0; */
}

.karma-fields .navigation ul li:hover a,
.karma-fields .navigation ul li.active a {
  color: black;
  text-decoration: none;
}

.karma-fields .tables {
  flex-grow: 1;
  display: flex;
  min-width: 0;
}
.karma-fields .table-container {
  flex-grow: 1;
  display: flex;
  min-width: 0;
}

.karma-fields .karma-field-table .table-body {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  position: relative;
  /* gap: 1px; */
}
.karma-fields .karma-field-table .table-body .table-main {
  /* position: absolute;
  width: 60%;
  height: 100%; */
  /* flex: 1 1 0; */
  /* flex: 1 0 60%; */
  flex-grow: 1;
  display: flex;
  /* gap: 1px; */
  flex-direction: column;
  min-width: 0;
  /* max-width: 100%; */

  /* transition: transform 200ms; */
  /* transition: flex 200ms; */
}




.karma-fields.single-open .karma-field-table .table-body .table-main {
  /* transform: translateX(calc(80% + 1px)); */
  /* filter: brightness(0.7); */

  /* flex: 1 1 100%; */
}


.karma-fields .karma-field-table .table-main-header {
  /* padding: 10px 20px 10px; */
  /* margin: 0 0 1px; */
  background-color: #f1f1f1;
  /* display: flex; */
  /* height: 50px; */
  /* box-sizing: border-box; */
}
.karma-fields .karma-field-table h1 {
  /* flex-grow: 1;
  display: flex;
  align-items: center; */
  margin: 0;
  font-size: 1.5em;
  line-height: 1.15em;
}
.karma-fields .karma-field-table .table-main-header .modal-navigation {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: #f1f1f1;
  /* gap: 10px; */
}
.karma-fields button.hidden {
  display: none;
}
.karma-fields .karma-field-table .table-main-header .table-pagination .current-page {
  min-width: 75px;
  display: flex;
  justify-content: center;
}

/* .karma-fields .karma-field-table .table-filters {
  padding: 10px 10px 10px;
  background-color: #f1f1f1;
} */
/* .karma-fields .karma-field-table .table-filters, */

.karma-fields .karma-field-table .karma-field-table-section {
  flex-grow: 0;

  padding: 0.75em;
}
.karma-fields .karma-field-table .table-main-body {
  /* overflow: auto;
  padding: 10px 10px 10px;
  background-color: #f1f1f1;
  flex-grow: 1;
  display: flex; */

  flex-grow: 1;
  overflow: hidden;
}

/* .karma-fields .karma-field-table-columns {
  display: flex;
  width: 100%;
}
.karma-fields .karma-field-table-column {
  display: flex;
  flex-direction: column;
}
.karma-fields .karma-field-table-column.grid-column {
  flex-grow: 1;
  overflow: hidden;
} */
.karma-fields .karma-field-table-grid-container {
  overflow: auto;
  flex-direction: row;

  padding: 0.75em;
}



/* Table Modal */

.karma-fields .karma-field-table .table-body .table-modal {

  /* margin-right: 1px; */
  /* overflow: hidden; */
  display: flex;
  /* flex: 0 0 40%; */
  flex-shrink: 0;
  min-width: 0;

  /* position: absolute;
  width: 80%; */
  /* height: 100%; */
  /* z-index: 3; */
  order: 2;

  /* transform: translateX(-100%); */
  /* transition: transform 200ms; */
  /* transition: flex 200ms; */

  /* display: none; */

  /* position: absolute;
  width: calc(40% - 1px);
  right: 0; */


  width: 0;
  transition: width 200ms;
}

.karma-fields .karma-field-table .table-body.single-open .table-modal {


  /* width: 40em; /* should be set in js */
}



.karma-fields.single-open .karma-field-table .table-modal,
.karma-fields .karma-fields-content.single-open .karma-field-table .table-modal {

  /* display: flex;
  position: relative; */
}

.karma-fields .karma-field-table .karma-modal {
  display: flex;
  /* gap: 1px; */
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;

  /* min-width: 40em; /* should be set in js */
}
.karma-fields .karma-field-table .table-modal .modal-resize-handle {
  position: absolute;
  top: 0;
  right: -5px;
  bottom: 0;
  width: 10px;
  z-index: 10;
  cursor: col-resize;
  user-select: none;
}





.karma-fields .karma-field-table .table-main-header {
  display: flex;
  /* max-height: 3.75em; */
  flex-shrink: 0;
  /* gap: 1px; */

  padding: 0.75em;
}
/* .karma-fields .karma-field-table .table-main-header h1 {
  padding: 0 10px;
  flex-grow: 1;
  margin: 0;
  display: flex;

  align-items: center;
  background-color: #f1f1f1;
  overflow: hidden;
  line-height: 1.2em;
}
.karma-fields .karma-field-table .table-main-header h1 span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.karma-fields .karma-field-table .table-main-header .table-main-header-title {
  /* flex-grow: 1;
  display: flex;
  align-items: center; */
  /* overflow: hidden; */
}
.karma-fields .karma-field-table .table-main-header h1 {
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */

  /* font-size: 1.5em;
  line-height: 1.15em; */
}


/* .karma-fields .karma-field-table .table-main-header button.close {
  appearance: none;
  border: none;
  width: 50px;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #f1f1f1;
  border-radius: 0;
} */
/* .karma-fields .karma-field-table .table-main-header button[disabled] {
  background-color: #f1f1f1 !important;
  cursor: default;
} */
.karma-fields .karma-field-table .table-main-header button.close span {
  /* grid-area: 1 / 1; */
}
.karma-fields .karma-field-table .table-main-header button.close:hover {
  /* background-color: white; */
}
.karma-fields .karma-field-table .table-main-header button.close.loading span {
  /* visibility: hidden; */
}
.karma-fields .karma-field-table .table-main-header button.close.loading::after {
  /* content: "...";
  grid-area: 1 / 1; */
}
.karma-fields .karma-field-table .table-main-header .header-item {
  /* display: flex;
  background-color: #f1f1f1;
  align-items: center;
  padding: 0 10px; */
  /* gap: 10px; */
}
.karma-fields .karma-field-table .table-main-header .header-item.total-items {
  /* min-width: 125px; */
}
.karma-fields .karma-field-table .table-main-header .header-item.total-items a {
  /* cursor: pointer; */
}
.karma-fields .karma-field-table .table-main-header .header-item.total-items .set-ppp {
  /* display: flex;
  align-items: baseline; */
  /* gap: 10px; */
}


/* .karma-fields .karma-field-table .table-main-header .total-items.loading::after {
  content: "...";
} */
.karma-fields .karma-field-table .table-body .karma-modal .table-modal-header {
  background-color: #f1f1f1;
  display: flex;
  overflow: auto;
  padding: 0.75em;
  flex-shrink: 0;
}
.karma-fields .karma-field-table .table-body .karma-modal .table-modal-header>.karma-field-container {
  flex-wrap: nowrap;
  overflow: hidden;
}




.karma-fields .karma-field-table .table-body .karma-modal .table-modal-header h1 {
  /* font-size: 1.5em;
  line-height: 1.15em; */
}


.karma-fields .karma-field-table .table-body .karma-modal .table-modal-body {
  /* background-color: #c3c4c7; */
  background-color: #f1f1f1;
  /* display: grid; */
  display: flex;
  overflow: auto;

  padding: 0.75em;
  flex-grow: 1;

  flex-direction: column;
}
.karma-fields .karma-field-table.loading .karma-field-frame {
  background-color: #f1f1f1;
}


.karma-fields .karma-field-table .table-main-header .header-tab a {
  cursor: pointer;
}
.karma-fields .karma-field-table .table-main-header .header-tab.active {
  /* position: relative;
  top: 1px; */
}
.karma-fields .karma-field-table .table-main-header .header-tab.active a {
  color: black;
}




/* Table Control */
.karma-fields .karma-field-table .table-control {
  background-color: #f1f1f1;
  /* height: 3.75em; */
  /* flex-shrink: 0;
  display: flex;
  align-items: center; */

  padding: 0.75em;
}
.karma-fields .karma-field-table .table-control :last-child {
  /* flex-grow: 0; */
}
.karma-fields .karma-field-table .table-control .table-control-group {
  /* display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 10px; */
}
.karma-fields .karma-field-table .table-control .table-control-group.table-edit {
  /* flex-grow: 1; */
}
.karma-fields .karma-field-table .table-control .table-edit button.karma-button {
  /* margin: 0 5px; */
}

/* Options */
.karma-fields .karma-field-table .karma-field-table-column.options-column {
  /* display: flex;
  flex-direction: column;
  flex-shrink: 0; */
  overflow: auto;

  padding: 0.75em;
}




/* General */

.karma-field-frame {
  background-color: #f1f1f1;
}
.karma-field-container {
  gap: 0.7em;
}



/* shadow boxes */
.navigation,
.table-main-header,
.table-footer,
.table-modal,
.table-modal-header,
.karma-field-table-section {
  /* box-shadow: 0 0 6px 0px #484848; */
  box-shadow: 0 0 8px 0px #4848487a;
  outline: 1px solid #484848;
  position: relative;
}
.karma-field-table-section {
  z-index: 2;
}
.table-main-header,
.table-modal-header {
  z-index: 3;
}
.table-modal {
  z-index: 4;
}
.table-footer {
  z-index: 5;
}
.navigation {
  z-index: 8;
}

/* gap */
.karma-fields .karma-field-table,
.karma-fields .karma-field-table .table-body,
.karma-fields .karma-field-table .table-body .table-main,
.karma-fields .karma-field-table .karma-modal {
  /* gap: 1px; */
}



/*  TABLE MEDIAS */

.karma-field-table figure {
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.karma-field-table figure img {
  max-width: 100%;
  height: auto;
  display: block;
  -webkit-user-drag: none;
}

.karma-field-table ul.media-table {
  display: flex;
  gap: 0.75em;
  flex-wrap: wrap;

  align-self: flex-start;

  margin: 2em 0;

  position: relative; /* needed for children offset calculation */
}
.karma-field-table ul.media-table li {
  margin: 0;

}
.karma-field-table .media-table .frame {
  position: relative;
  user-select: none;
  background-color: #f1f1f1;
  width: 10em;
  height: 12em;
  /* overflow: hidden; */
  /* box-shadow: 0 0 8px 0px #4848487a; */

  display: flex;
  flex-direction: column;
}
.karma-field-table .media-table .frame.selected {
  /* background-color: white; */
  /* outline: 1px solid #c3c4c7;
  outline-offset: -1px; */
  /* box-shadow: 0 0 8px 0px #4848487a; */
}
.karma-field-table .media-table.focus .frame.selected {
  /* outline-color: #484848; */
}

/* .karma-field-table .media-table .frame.active, */
.karma-field-table .media-table .selected .frame {
  /* box-shadow: 0 0 8px 0px #4848487a; */
  background-color: #c3c4c7;
}
.karma-field-table .media-table.focus .selected .frame,
.karma-field-table .media-table .selecting .frame {
  background-color: #484848;
}


/* .karma-field-table .media-table .frame.active figure {
  filter: opacity(0.5) saturate(0.5);


} */
.karma-field-table .media-table .selecting .frame figure,
.karma-field-table .media-table.focus .selected .frame figure {
  filter: saturate(0.5) opacity(0.5);
}

.karma-field-table .media-table.loading .frame figure {
  filter: saturate(0) opacity(0.2);
}

.karma-field-table .media-table .frame.loading figure {
  visibility: hidden;
}

.karma-field-table .media-table .frame .file-caption {
  display: flex;
  align-items: center;
  min-height: 2em;
}
.karma-field-table .media-table .frame .filename {
  /* position: absolute;
  bottom: 0; */

  /* background-color: #efefefef; */
  /* background-color: #ffffffe3; */
  /* width: 100%;


  padding: 0 0.75em; */

  /* word-break: break-word; */

  padding: 0 0.75em;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  /* display: flex;
  align-items: center;
  justify-content: center; */

  text-align: center;
}
.karma-field-table .media-table .frame.image-type .file-caption {
  /* display: none; */
}
.karma-field-table .media-table .frame.active .file-caption {
  background-color: #c3c4c7;
  color: #f1f1f1;
}
.karma-field-table .media-table .selecting .frame .file-caption,
.karma-field-table .media-table.focus .selected .frame .file-caption {
  background-color: #484848;
  color: #f1f1f1;
}


.karma-field-table .media-table figure {
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* background-image: linear-gradient(45deg, #ccc 25%, transparent 25%), linear-gradient(135deg, #ccc 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ccc 75%), linear-gradient(135deg, transparent 75%, #ccc 75%); */
  /* background-size: 2em 2em; */
  /* background-position: 0 0, 1em 0, 1em -1em, 0 1em; */


  /* box-shadow: inset 0 0 0 1px #cccccc; */

  /* box-shadow: 0 0 8px 0px #4848487a; */
}

/* Folder */
.karma-field-table .media-table figure.dashicons::before {
  font-size: 4em;
  color: #7da4c5;
}

/* Breadcrumb */
ul.karma-breadcrumb {
  padding: 0;
  margin: 0;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
ul.karma-breadcrumb li {
  margin: 0;
}
ul.karma-breadcrumb li:not(:last-child)::after {
  content: ">";
  margin: 0 0.5em;
}
ul.karma-breadcrumb li a {
  cursor: pointer;
}
ul.karma-breadcrumb li a.active {
  color: #484848;
}
ul.karma-breadcrumb li a:hover {
  /* text-decoration: underline; */
  color: #484848;
}


/* * */
