
.karma-fields .karma-fields-toolbar {
  border: 1px solid black;
  display: inline-flex;
  margin-bottom: 1em;
}
.karma-fields .toolbar-dropdown {
  position: relative;
}
.karma-fields .toolbar-dropdown ul {
  position: absolute;
  z-index: 2;
  background-color: white;
  border: 1px solid black;
  left: -1px;
  margin: 0;
}
.karma-fields .toolbar-dropdown ul li {
  display: flex;
  align-items: center;
  margin: 0;
}


.karma-fields .karma-fields-toolbar button {
  padding: 12px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: inherit;
}
.karma-fields .karma-fields-toolbar button:hover,
.karma-fields .karma-fields-toolbar button:focus {
  outline: none;
  color: #0073aa;
}
.karma-fields .karma-fields-toolbar button:focus svg path,
.karma-fields .karma-fields-toolbar button:hover svg path {
  fill: #0073aa;
}
.karma-fields .karma-fields-toolbar button svg {
  width: 20px;
  height: 20px;
  display: block;
}
.karma-fields .toolbar-dropdown ul li button {
  white-space: nowrap;
}
.karma-fields .toolbar-dropdown ul li button svg {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
